.formbody {
  border: 2px solid black;
  width: 355px;
  margin: 10px auto;
  box-shadow: 5px 5px var(--darkchoco);
}

.updateform input, textarea{
    text-align: center;
    margin: auto;
    display: block;
    border: 2px solid black;
}

.updateform form label {
  font-size: 30px;
  text-decoration: underline;
}

.updateProfileButton {
    width: 90px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--militarygreen);
    margin: auto;
    filter: drop-shadow(4px 4px 4px #222);
    color: white;
    font-family: Robinson;
    font-size: 25px;
}
