.logoutButton {
  width: 90px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--militarygreen);
  margin: auto;
  filter: var(--dropShadow);
  cursor: pointer
}

.logoutButton > span {
  color: white;
  font-family: Robinson;
  font-size: 25px;
  filter: var(--dropShadow);
}