.mood:hover {
    cursor: pointer;
}

.mood {
    background-image: url('../../../../public/MixtapeTback.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Permanent Marker', cursive;
    width: 20vw;
    height: 20vh;
    margin: 20px auto;
    line-height: 10vh;
    filter: drop-shadow(6px 6px 6px #222);
    /* border: solid 1px red; */

}

.moodTitle {
    transform: rotate(-10deg);
    margin-right: 15px;
    font-size: 32px;
}
