.flavourOuter {
    width: fit-content;
    border: 10px solid var(--militarygreen);
    margin: 10px auto;
    box-sizing: content-box;
    border-radius: 3px;

}

.flavourContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
    width: 355px;
    border: 4px solid white;
    box-sizing: content-box;
    border-radius: 3px;
}

.flavour {
    position: relative;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--militarygreen);
    width: 100%;
    color: white;
    font-size: 35px;
    height: 100px;
    cursor: pointer;
}

.cocktailsContainer {
    background-color: var(--militarygreen);
    width: fit-content;
    position: relative;
    height: fit-content;
}
