.AuthPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh 0;
    height: 100vh
}

.signUpButton {
    width: 90px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--militarygreen);
    margin: 40px auto ;
    filter: var(--dropShadow);
    border: none
  }
  
.signUpButton > span {
    color: white;
    font-family: Robinson;
    font-size: 25px;
    filter: var(--dropShadow);
  }
