.signUpContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signUpButton {
    width: 90px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--militarygreen);
    margin: 20px auto;
    filter: var(--dropShadow);
    border: none
}
  
.signUpButton > span {
    color: white;
    font-family: Robinson;
    font-size: 25px;
    filter: var(--dropShadow);
}

.label {
    font-size: 23px;
    margin-bottom: 0
}

