.signUpContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--tanned)
}

.signUpButton {
    width: 90px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--tanned);
    margin: 0 auto 20px auto;
    filter: var(--dropShadow);
    border: none;
    cursor: pointer;
}
  
.signUpButton > span {
    color: white;
    font-family: Robinson;
    font-size: 25px;
    letter-spacing: 0.7px;
}

.signUpContainer input {
    margin-bottom: 8px;
    margin-top: 2px;
    padding: 3px;
    width: 100%;
}

.label {
    font-size: 23px;
    /* margin-right: 20px; */
}
.inputContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 400px;
    min-height: 135px;
}
.inputContainer > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: aqua; */
}
@media screen and (max-width: 500px) {
    .inputContainer {
        display: flex;
        flex-direction: column;
        max-width: 300px;
    }
}


  .continueButtonLink {
    text-decoration: none;
  }
  
  .continueButton {
    width: 220px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--militarygreen);
    margin: 10px auto;
    filter: var(--dropShadow);
    border: none;
    cursor: pointer;
    color: white;
    font-family: Robinson;
    font-size: 25px;
  }

  .errorMessage {
    color: var(--tanned);
    font-size: 25px;
  }
  