.moodsContainer {
    /* background-color: yellow; */
    /* width:30vw; */
    margin-left: 40px;
    margin-right: 40px;
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 1200px;
}

.moodsContainer > div {
    margin: 0 6px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
@media screen and (max-width: 400px) {
    .moodsContainer > div {
        width: 75%
    }
}