.body {
    background-color: rgb(225,194,210);
    width: 355px;
    margin: 0px auto;
    border-right: 10px solid var(--darkchoco);
    border-left: 10px solid var(--darkchoco);
}
.details{
    margin: 0px;
}
.body ul {
    list-style: none;
}

.body label {
    text-decoration: underline;
    font-size: 28px;
}

.body ul :last-child {
    padding-bottom: 30px;
}

.body {
    border-bottom: 2px solid black;
    
}

.body button {
    padding: 1px;
}

/*  */

.bodyMobile {
    background-color: rgb(225,194,210);
    width: 315px;
    margin: 0px auto;
    border-right: 10px solid var(--darkchoco);
    border-left: 10px solid var(--darkchoco);
}
.detailsMobile{
    margin: 0px;
}
.bodyMobile ul {
    list-style: none;
}

.bodyMobile label {
    text-decoration: underline;
    font-size: 28px;
}

.bodyMobile ul :last-child {
    padding-bottom: 30px;
}

.bodyMobile {
    border-bottom: 2px solid black;
    
}

.bodyMobile button {
    padding: 1px;
}

img {
    height: 300px;
    width: 236px;
}