.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--tanned)
}

.logInButton {
    width: 90px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--tanned);
    margin: 20px auto 10px auto;
    filter: var(--dropShadow);
    border: none
  }
  
.logInButton > span {
    color: white;
    font-family: Robinson;
    font-size: 25px;
    filter: var(--dropShadow);
  }

  
.label {
    font-size: 23px;
    margin-bottom: 0
}
.loginContainer input {
  margin-bottom: 8px;
  margin-top: 2px;
  padding: 3px
}