.content {
    letter-spacing: 0.3px;
    font-size: x-large;
}
.li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    width: 90px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--militarygreen);
    margin: 20px auto;
    filter: var(--dropShadow);
    border: none;
  }
  
.button > span {
    color: white;
    font-family: Robinson;
    font-size: 25px;
    filter: var(--dropShadow);
  }

  
.label {
    display: block;
    margin-top: 15px;
    text-decoration: underline;
    font-size: 23px;
    margin-bottom: 0
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.moodButton {
    margin: 4px;
    background: var(--mixtapeYellow);
    padding: 4px 8px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Permanent Marker', cursive;
    font-size: large;
    width: 150px;
    box-shadow: 3px 3px 1px;
    display: flex;
    justify-content: space-between;
}

.moodButtonContainer {
    display: grid;
    margin-bottom: 50px;
}
.moodButtonContainerMobile {
    grid-template-columns: 1fr 1fr;
}
.moodButtonContainerBigScreen {
    grid-template-columns: 1fr 1fr 1fr;
}
.moodButtonSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.xButton {
    background-color: none;
    color: rgb(224, 63, 43);
    cursor: pointer;
}
.addMoodButton {
    cursor: pointer
}
.detailsList{
    margin-bottom: 10px;
  }

.h3 {
    font-size: xx-large;
}