.li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    width: 90px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--militarygreen);
    margin: 20px auto;
    filter: var(--dropShadow);
    border: none;
  }
  
.button > span {
    color: white;
    font-family: Robinson;
    font-size: 25px;
    filter: var(--dropShadow);
  }

  
.label {
    display: block;
    margin-top: 15px;
    text-decoration: underline;
    font-size: 23px;
    margin-bottom: 0
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
}
