
.nav {
  overflow: hidden;
  background-color: var(--militarygreen);
  box-shadow: 0px 2px 2px #222;
  height: 9vh;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.logo {
  
  text-decoration: none;
  width: 70px;
  height: 70px;
  background-image: url("/public/cock.png");
  background-size: cover;
}

.navLink {
  padding: 15px;
  color: white;
  font-size: 35px;
  text-decoration: none;
  font-family: Robinson;
  filter: var(--dropShadow);
}

.navLink > span {
  margin-left: 60px;
}

.navLinkMobile {
  padding: 5px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: Robinson;
  filter: var(--dropShadow);
}