.nav {
  /* overflow: hidden; */
  background-color: var(--militarygreen);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.logoTitleContainer {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-left: 10px;
}
.logo {
  text-decoration: none;
  height: 55px;
}

.navLink {
  padding: 15px;
  color: var(--skin);
  font-size: 35px;
  text-decoration: none;
  font-family: Robinson;
  filter: var(--dropShadow);
}

.navLinkMobile {
  padding: 5px;
  color: var(--skin);
  font-size: 30px;
  text-decoration: none;
  font-family: Robinson;
  filter: var(--dropShadow);
}

.titleLink {
  padding: 15px 0 20px 15px;
  font-size: 35px;
  text-decoration: none;
  color: var(--skin);
  font-family: Permanent Marker;
}

.titleLinkMobile {
  padding: 15px 0 20px 10px;
  font-size: 30px;
  text-decoration: none;
  color: var(--skin);
  font-family: Permanent Marker;
}

.links {
  display: flex;
  align-items: center;
}

.authLinksContainer {
  color: var(--mixtapeYellow);
}

.authLink {
  padding: 15px 0;
  margin-right: 15px;
  color: var(--offwhite);
  font-size: 35px;
  text-decoration: none;
  font-family: Robinson;
  filter: var(--dropShadow);
}

.authLinkMobile {
  padding: 5px;
  color: var(--offwhite);
  font-size: 30px;
  text-decoration: none;
  font-family: Robinson;
  filter: var(--dropShadow);
}
