
.nav {
  overflow: hidden;
  background-color: var(--militarygreen);
  box-shadow: 0px 2px 2px #222;
  height: 9vh;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  margin-bottom: 20px;
}

.logo {
  float: left;
  display: block;
  text-align: center;
  padding: 15px;
  margin-left: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  background-image: url("/public/Cocktaillogo.png");
  background-size: cover;
}

.navLink {
  padding: 15px;
  color: white;
  font-size: 35px;
  text-decoration: none;
  font-family: Robinson;
  filter: var(--dropShadow);
}

