.mixtail {
    background-image: url('../../../../public/stainednapkin.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30vw;
    /* border: solid 1px black; */
    margin-bottom: 10px;
    font-family: 'Kalam', cursive;
}

.mixtail li {
    list-style: none;
    text-align: left;
    margin-left: 50px;
}