.mixtapeInfoContainer {
    text-align: left;
    font-size: 30px;
    padding: 15px;
}

.mixtapeInfoContainer > h3 > a {
    color: black;
}

.mixtapeInfoContainer > a {
    text-decoration: none;
    color: black;
}

.mixtapeInfoContainer a:hover {
    color: var(--lipstickred);
}

