.container {
    display: flex;
    scroll-behavior: smooth;
    flex-direction: column;
    width: 355px;
    margin: 0px auto;
    border: 3px solid var(--darkchoco);
    /* filter: var(--dropShadow); */
    font-size: x-large;
}

.form label {
    display: block;
    margin: 5px auto;
    text-decoration: underline;
}

.button {
    width: 90px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--militarygreen);
    margin: 15px auto ;
    filter: var(--dropShadow);
    border: none
}

.button > span {
    color: white;
    font-family: Robinson;
    font-size: 25px;
    filter: var(--dropShadow);
  }