.profileInfoContainer {
    font-size: 40px;
    margin: 0 auto; 
    max-width: 400px;
    color: var(--tanned)
}
.profileInfoContainer h1 {
  font-size: 100px;
  margin: 0 auto; 
  width: 355px;
  color: var(--tanned)
}

.editProfileButton {
    cursor: pointer;
    width: 110px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--militarygreen);
    margin: 20px auto;
    filter: var(--dropShadow);
}
  
.editProfileButton > span {
  color: white;
  font-family: Robinson;
  font-size: 25px;
  filter: var(--dropShadow);
}

.userPbody h2 {
  text-decoration: underline;
  margin-bottom: 5px;
}
.noMixtapes, .mixtailsCount {
  margin: 4px;
  font-size: 25px
}
.myMixtailsContainer {
  color: var(--tanned);
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px auto;
}
.logOutButton {
  position: absolute;
  top: 80px;
  right: 10px
}

.mood {
  display: flex;
  justify-content: center;
  background-image: url('/public/MixtapeTback.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Permanent Marker', cursive;
  width: 180px;
  height: 180px;
  margin: 20px auto;
  line-height: 10vh;
  filter: var(--dropShadow);
}

.moodTitle {
  position: absolute;
  line-height: 20px;
  height: 30px;
  transform: rotate(-10deg);
  margin-right: 15px;
  margin-top: 44px;
  font-size: 32px;
  color: beige;
  filter: var(--dropShadow);

}