* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

@font-face {
font-family: "Robinson";
src: local("Robinson"),
 url("./fonts/Robinson-Typeface/Robinson\ Regular.otf") format("truetype");
font-weight: bold;
}

:root {
  --skin: rgb(242,200,162);
  --tanned: rgb(225, 108, 39);
  --darkchoco: rgb(89,46,30);
  --lipstickred: rgb(191,63,63);
  --lightmilitary: rgb(136,142,96);
  --militarygreen: rgb(100,113,60);
  --dropShadow: drop-shadow(2px 2px 2px rgb(111, 111, 111));
  --mixtapeRed: rgb(220, 61, 38);
  --mixtapeYellow: rgb(243, 206, 128)
}

body {
  margin: 0;
  font-family: Robinson;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
