.card1 {
    display: block;
    margin: 0 auto;
    max-width: 50vw;
    max-height: 33vh;
    background-image: url("../../../public/flavour-profiles2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* border: 2px solid black; */
    margin-bottom: 20px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 33vh;
    font-size: 80px;
    filter: drop-shadow(6px 6px 6px #222);
}

.card2 {
    display: block;
    margin: 0 auto;
    max-width: 50vw;
    max-height: 33vh;
    background-image: url("../../../public/tropical-postcard.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    border-radius: 20px;
    text-decoration: none;
    color: var(--lipstickred);
    text-align: center;
    line-height: 33vh;
    font-size: 80px;
    font-weight: bold;
    filter: drop-shadow(6px 6px 6px #222);
}