.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 1 1 auto;
}
.main {
display: flex;
flex-direction: column;
height: 90vh
}

.card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  text-decoration: none;
  filter: var(--dropShadow);
  text-overflow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5px;
  width: 90%;
  max-width: 700px;
  height: 200px;
  font-size: 50px;
}

.mainPanel {
  color: var(--offwhite);
  font-family: Permanent Marker;
  filter: var(--dropShadow);
  margin-bottom: 10px;
}

.subPanel {
  color: var(--offwhite);
  filter: var(--dropShadow);
  padding: 5px 0;
}

.one {
  background-image: url("../../../public/flavour-profiles2.jpg");
}

.two {
  background-image: url("../../../public/tropical-postcard.jpeg");
}

.mainTitle {
  color: var(--tanned);
  font-size: 70px;
  font-family: Permanent Marker;
  line-height: 0.8;
}

.intro {
  color: var(--tanned);
  font-size: 50px;
  width: 90%;
}

@media screen and (min-width: 505px) {
  .mainTitle {
    font-size: 100px;
  }
  .card {
    width: 90%;
    max-width: 800px;
    height: 250px;
    font-size: 60px;
  }
  .intro {
    font-size: 40px;
  }
}

@media screen and (min-width: 1000px) {
  .mainTitle {
    font-size: 150px;
  }
  .card {
    width: 100%;
    max-width: 1000px;
    height: 250px;
    font-size: 70px;
  }
}
